* {
    padding: 0px;
    border: 0px;
    margin: 0px;
    border: border-box;
}
body {
    background-color: black;
}

/*------------------------------nav-------------------------*/

.nav {
    height: 25px;
    display: flex;
    align-items: center;
    background-color: rgb(113, 114, 116);
  }
  
  .bars {
      width: 25px;
      height: 25px;
      background-color: rgb(105, 103, 103);
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 15px; 
  }

.img {
    width: 60px;
    padding: 5px;
}

/*-------------------------------man------------------*/

.man {
    margin: 5px;
    border: 2px solid red ;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#a1 {
    text-decoration: none;
}

.box1 {
    width: 345px;
    height: 200px;
    margin: 6px;
    background-color: aqua;
    background-size: cover;
    background-image: url(img/black1.jpg);
    display: flex;
    justify-content:end;
    align-items: end;
    color: white;
}
#box1m {
     padding: 7px;
}

.box2 {
    width: 345px;
    height: 200px;
    margin: 6px;
    background-color: aqua;
    /* background-image: url(img/black.jpg); */
    background-size: cover;
}

.box3 {
    width: 345px;
    height: 200px;
    margin: 6px;
    background-color: aqua;
    
}

.box4 {
    width: 345px;
    height: 200px;
    margin: 6px;
    background-color: aqua;
    
}

.box5 {
    width: 345px;
    height: 200px;
    margin: 6px;
    background-color: aqua;
    
}

.box6 {
    width: 345px;
    height: 200px;
    margin: 6px;
    background-color: aqua;
    
}

.box7 {
    width: 345px;
    height: 200px;
    margin: 6px;
    background-color: aqua;
}

.box8 {
    width: 345px;
    height: 200px;
    margin: 6px;
    background-color: aqua;
    
}

.box9 {
    width: 345px;
    height: 200px;
    margin: 6px;
    background-color: aqua;
    
}

.box10 {
    width: 345px;
    height: 200px;
    margin: 6px;
    background-color: aqua;
}



@media (min-width: 412px) {

    .nav {
        height: 35px;
    }
    .bars {
        width: 35px;
        height: 35px;
        font-size: 20px;
    }
    .img {
        width: 90px;
        padding-left: 5px;
    }
    .box1 {
        width: 390px;
        height: 225px;
    }
    .box2 {
        width: 390px;
        height: 225px;
    }
    .box3 {
        width: 390px;
        height: 225px;
    }
    .box4 {
        width: 390px;
        height: 225px;
    }
    .box5 {
        width: 390px;
        height: 225px;
    }
    .box6 {
        width: 390px;
        height: 225px;
    }
    .box7 {
        width: 390px;
        height: 225px;
    }
    .box8 {
        width: 390px;
        height: 225px;
    }
    .box9 {
        width: 390px;
        height: 225px;
    }
    .box10 {
        width: 390px;
        height: 225px;
    }

}


@media (min-width: 640px) {
    .box1 {
        width: 300px;
        height: 190px;
    }
    .box2 {
        width: 300px;
        height: 190px;
    }
    .box3 {
        width: 390px;
        height: 225px;
    }
    .box4 {
        width: 300px;
        height: 190px;
    }
    .box5 {
        width: 300px;
        height: 190px;
    }
    .box6 {
        width: 300px;
        height: 190px;
    }
    .box7 {
        width: 300px;
        height: 190px;
    }
    .box8 {
        width: 390px;
        height: 225px;
    }
    .box9 {
        width: 300px;
        height: 190px;
    }
    .box10 {
        width: 300px;
        height: 190px;
    }

}

@media (min-width: 760px) {
    .box1 {
        width: 300px;
        height: 200px;
    }
    .box2 {
        width: 390px;
        height: 200px;
    }
    .box3 {
        width: 390px;
        height: 200px;
    }
    .box4 {
        width: 300px;
        height: 200px;
    }
    .box5 {
        width: 300px;
        height: 200px;
    }
    .box6 {
        width: 390px;
        height: 200px;
    }
    .box7 {
        width: 390px;
        height: 200px;
    }
    .box8 {
        width: 300px;
        height: 200px;
    }
    .box9 {
        width: 300px;
        height: 200px;
    }
    .box10 {
        width: 390px;
        height: 200px;
    }

}